<header class="d-flex">
  <a routerLink="home" class="bg-dark nav-link m-0 ps-5 text-white">
	<h1>LojaApp</h1>
  </a>
  <nav class="navbar flex-grow-1 navbar-dark navbar-expand-lg bg-dark">
	<div class="container-fluid justify-content-end">
	  <button
		class="navbar-toggler"
		type="button"
		data-bs-toggle="collapse"
		data-bs-target="#mainNavbar"
		aria-controls="mainNavbar"
		aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="mainNavbar">
		<ul class="navbar-nav ms-auto text-center mb-2 mb-lg-0">
		  <li class="nav-item">
			<a class="nav-link" routerLink="home" routerLinkActive="active">
			  Home
			</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" routerLink="about" routerLinkActive="active">
			  About
			</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" routerLink="contact" routerLinkActive="active">
			  Contact
			</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" routerLink="login" routerLinkActive="active">
			  Login
			</a>
		  </li>
		</ul>
	  </div>
	</div>
  </nav>
</header>