<div class="row">
  <div class="col d-flex justify-content-center">
	<app-action-buttons
	  buttonTitlePrimary="salvar"
	  buttonTitleSecondary="reset"
	  (primaryButtonClick)="primaryBtn($event)"
	  (secondaryButtonClick)="secondaryBtn($event)">
	</app-action-buttons>
  </div>
</div>

<div class="row">
  <div class="col d-flex justify-content-center">
	<app-action-buttons
	  buttonTitlePrimary="Inserir"
	  buttonTitleSecondary="Deletar"
	  (primaryButtonClick)="primaryBtn($event)"
	  (secondaryButtonClick)="secondaryBtn($event)">
	</app-action-buttons>
  </div>
</div>